name: GitHub Actions Maven Build Example

on:
  push:
    branches: [main]


jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of the runner that the job will run on
    runs-on: ubuntu-latest

    needs: []

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Step 1 - Checkout main branch from GitHub
        uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Step 2 - Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Step 3 - Have a GitHub Actions Build Maven Project 
        run: mvn -B package --file pom.xml
        # run: mvn --batch-mode --update-snapshots verify
        # run: mvn install --file pom.xml
        # run: mvn --batch-mode --update-snapshots package

      - name: Step 4 - List the current Directory
        run: ls -a

      - name: Step 5 - What is the target folder?
        run: |
          cd target
          ls -a
      - name: Step 6 - Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: target
          path: target

      - name: Step 7 - Download a Build Artifact
        uses: actions/download-artifact@v3.0.2
        with:
          # Artifact name
          name: target
          # Destination path
          path: ./target
